.TodoListItemContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 40px;
    margin: 5px;
    border-bottom: 1px solid #ccc;
    background-color: #86A69D;
    border-radius: 10px;
}

.ListItem {
    color: black;
    font-weight: bold;
    margin: 10px;
}

.FaTrashIcon {
    color: #F28585;
    transition: color 0.3s ease;
}

.FaTrashIcon:hover {
    color: red;
}