.add-todo-form-container {
    display: flex;
    align-items: center;
    font-weight: bold;
    width: 100%;
}

label {
    color: black;
    font-size: 16px;

}

label+input {
    margin-left: 20px;
    padding: 10px;
    background-color: #F7C964;
    color: black;
    font-weight: bold;
    font-size: 16px;
    width: 100%;
}

.add-button {
    margin: 10px;
    background-color: #008080;
}

.add-button:hover {
    background-color: #5683ED;
}