.add-todo-form-container {
    display: flex;
    align-items: center;
    font-weight: bold;
}

label+input {
    margin-left: 50px;
    padding: 10px;
    background-color: #F7C964;
    color: black;
    font-weight: bold;
    font-size: 15px;
}

.add-button {
    margin: 10px;
    background-color: #008080;
}

.add-button:hover {
    background-color: #5683ED;
}