:global #root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
}


.appContainer {
    /* If the screen is at least 800px, the container will be this size */
    width: 500px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #F2C6C2;
    color: #171212;
    border-radius: 10px;
}

@media only screen and (max-width: 800px) {
    .container {
        /* If the screen goes below 800px, the width of the container will be 90% of whatever that width is */
        width: 90%;
    }
}

.headingContainer {
    display: flex;
    align-items: center;
    /* Align items vertically */
    font-size: 20px;
}

.calendarIcon {
    margin-left: 10px;
}

.headlinePrimary {
    font-size: 48px;
    font-weight: 600;
    letter-spacing: 2px;
}

body {
    background-color: #F2E8DF;
    align-items: center;
    justify-content: center;
}