:global #root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
}


.appContainer {
    /* If the screen is at least 800px, the container will be this size */
    width: 650px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #F2E8DF;
    color: #171212;
    border-radius: 10px;
}

@media only screen and (max-width: 800px) {
    .appContainer {
        /* If the screen goes below 800px, the width of the container will be 90% of whatever that width is */
        width: 90%;
    }
}

.headingContainer {
    display: flex;
    align-items: center;
    /* Align items vertically */
    font-size: 20px;
}

.sortingButtonContainer {
    display: flex;
    align-items: center;
    /* Adjust alignment as needed */
    justify-content: flex-end;
    /* Align items to the end (right side) */
    margin-top: 16px;
    /* Adjust margin as needed */
}

.calendarIcon {
    margin-left: 10px;
}

.headlinePrimary {
    font-size: 48px;
    font-weight: 600;
    letter-spacing: 2px;
}

body {
    /* background-color: #F2E8DF; */
    background-image: url('assets/flower-background.jpg');
    /* Replace with your image path */
    background-size: cover;
    /* Cover the entire container */
    background-position: center;
    /* Center the background image */
    align-items: center;
    justify-content: center;
}

.toggleIcon {
    background-color: #008080;
    color: white;
    border: none;
    padding: 8px 25px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    margin-right: 10px;
    font-weight: 800;

}

.toggleIcon:hover {
    background-color: #5683ED;
}