.todo-list-item-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;

}

.todo-title {
    flex-grow: 1;
}

.remove-button {
    color: salmon;
}